NEXT_PUBLIC_API_URL=http://localhost:8000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_LEMONSQUEEZY_STORE_SLUG=
NEXT_PUBLIC_LEMONSQUEEZY_VARIANT_ID_PRO=
LEMONSQUEEZY_WEBHOOK_SECRET=
